{% extends "base.html" %}
<div class="task-manager">
{% block content %}

<h1> Create Tasks</h1>
<a href="{% url 'tasks:tasks' %}">Home</a>
<div class="container">
  <form method='POST' action="" enctype="multipart/form-data">
 
    {% csrf_token %}
     <div class="form-group">
      <label for="name">Full Name :</label>
      <input type="text" class="form-control" name="title" >
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth :</label>
   
      <textarea name="description" cols="40" rows="10" placeholder="Enter description" class="form-control" id="id_description"></textarea>
    </div>
    <div class="col form-group">
      <label>Complete</label>
        {{ form.completed }}
  </div>
  <div class="col form-group">
    <label>priority</label>
    <select name="priority" class="text-black" id="id_priority">
      <option value="1" selected="">Low</option>
    
      <option value="2">Medium</option>
    
      <option value="3">High</option>
    
    </select>
</div>
<div class="col form-group">
  <label>created_at</label>
  <input type="text" name="created_at" value="2024-08-29 16:14:02" class="text-black" required="" id="id_created_at">
</div>
<div class="col form-group">
<label>due_date</label>
  {{ form.due_date }}
</div>
<input required name="images" type="file" multiple class="form-control-file">
      <button type="submit" class="btn" style="float:right">Submit</button>
     </form>
</div>


{% endblock content %}