{% extends "base.html" %}

{% block content %}

		  <div class="row">
{% if tasks %} 
				{% for task in tasks %}
			<div class="col-md-3 col-sm-6 item">
			  <div class="card item-card card-block">
			  <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
			 
		

			  {% for i in task.images.all %} 
			  <div class="row">  <a href="{{ i.image.url.get_absolute_url }}">
		 <img src="{{i.image.url}}" style="height:100px;"  alt="{{ tasks.title }} logo">
		   </a>
				
			   </div>
			   {% endfor %}

			<a href="{{ product.get_url }}">	<h5 class="item-card-title mt-3 mb-3">{{ task.title }}</h5></a>
				<p class="card-text">{{ task.description}}</p> 
				<a href="{% url 'tasks:task' task.id %}" class="btn btn-block btn-primary">View Details </a>
				<a href="{% url 'tasks:delete-task' task.id %}" class="btn btn-danger text-white" >     <i class="fas fa-times-circle"></i>Delete</a>
		   
				<a class="btn btn-primary"
									 href="{% url 'tasks:edit-task' task.id %}">Edit</a>
		  </div>
			</div>
		
	   	{% endfor %}
		  </div>
		  
	{% else %}
	<h2>No result found. Please try again.</h2>

{% endif %}
	
	
		

	


	
         
    
                   
     


{% endblock  %}